.app-header {
	.header-container {
		margin-top: 1.2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.hamBurger {
			display: none;
		}

		.logo-container a {
			display: flex;
			align-items: center;
			margin-left: 1.5rem;

			img {
				width: 43px;
			}

			h3 {
				margin-left: 0.5rem;
				font-family: Gabriela;
				font-style: normal;
				font-weight: 500;
				font-size: 21px;
				line-height: 36px;

				color: #083e49;
			}
		}
		.header-navbar {
			padding-right: 4vw;

			.navbar-container {
				display: flex;
				list-style: none;
				width: 28.2rem;
				justify-content: space-between;

				> li {
					padding: 10px 18px;
					transition: all 0.3s ease-in;

					> a {
						transition: all 0.3s;
						font-family: Open Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 29px;

						color: #083e49;
					}
				}

				li:hover,
				li#active {
					> a {
						// color: #0d6577;
						text-shadow: 0px 4px 4px #0e363f37;
					}
				}
				li#active > a {
					color: #083e49;
					font-weight: 500;
				}
			}
		}
	}
}
