.header-navbar {
	padding-right: 4vw;

	.navbar-container {
		display: flex;
		justify-content: space-between;

		width: 28.2rem;

		list-style: none;

		> li {
			padding: 10px 18px;
			transition: all 0.3s ease-in;

			> a {
				transition: all 0.3s;
				font-family: Open Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 29px;

				color: #083e49;
			}
		}

		li:hover,
		li#active {
			> a {
				text-shadow: 0px 4px 4px #0e363f37;
			}
		}
		li#active > a {
			color: #083e49;
			font-weight: 500;
		}
	}
}
