.card_button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	border-radius: 8px;
	box-shadow: 0px 2px 4px 2px rgba(93, 244, 125, 0.25);
	background: radial-gradient(
		92.5% 502.5% at 4.29% 99.89%,
		rgba(18, 243, 27, 0.54) 0%,
		rgba(2, 240, 212, 0.86) 100%
	);
	transition: all 0.3s;

	&:hover {
		box-shadow: 0px 2px 3px rgba(11, 158, 139, 0.3);
		transform: translateY(-4px);
	}

	a {
		padding: 12px 20px;

		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 21px;
		color: #161616;
	}
}

@media only screen and (max-width: 848px) {
	.card_button a {
		font-size: 14px;
		line-height: 18px;
	}
}
