.flex {
	display: flex;
}
.flex_center {
	@extend .flex;
	align-items: center;
}
.flex__center {
	@extend .flex;
	justify-content: center;
}
.flex_col {
	@extend .flex;
	flex-direction: column;
}
.flex_center_col {
	@extend .flex_center, .flex_col;
}
.flex__center_col {
	@extend .flex__center, .flex_col;
}

.flex_center_center {
	@extend .flex__center, .flex_center;
}
.flex_center_center_col {
	@extend .flex_center_center, .flex_col;
}
